---
import BaseLayout from "@layouts/BaseLayout.astro";
import VideoGallery from "@components/VideoGallery.tsx";
---
<BaseLayout title="Demo interactiva">
  <section class="section container">
    <h2>Demo interactiva</h2>
    <VideoGallery client:load />
  </section>
</BaseLayout>